
body{
    background: rgb(239, 239, 239);
    font-family: Verdana,  Tahoma, sans-serif,sans-serif;
    margin-left: auto;
    margin-right: auto;
}
.container{
    display: grid;
    justify-content: center;
    align-content: center;
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    font-size: large;
    max-width: 500px;
    max-height: 60vh;
    padding: 25px;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color:whitesmoke;
    box-shadow:  1px 2px 3px 4px rgba(20,20,20,0.4);
    color: black;

}
h1{
    text-align: center;
    margin-top: 15px;
}
select{
    border-radius: 25px;
}
input{
    height: 30px;
    border-radius: 25px;
    border:2px solid black;
}
.input1{
    margin-top: 8px;
}
#box1{
    width: 100px;
    height:30px;
}

#box2{
    width: 260px;
    height: 30px;
}

#btn{
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom:10px;
}
.output{
    text-align: center;

}

@media (max-width:550px){
    .container{
        margin-left:auto;
        margin-right: auto;
        width: 450px;
        
    }
}